main {
	background-color: white;
	margin-left:30px;
	font-size: 25px;
}

header {
	background-image:url(images/tech-head.jpg);
	line-height: 200%;
	background-position:right;
	padding-left:15px;
	height:80px;
	margin-bottom: 0;
	color: white;
}

.guitar {
	float: right;
	margin-right: 25px;
}

.wb-carousel{
	max-width:1400px;
	margin:20px auto;
}

.resume {
	font-size: 18px;
}

.references {
	list-style-type: none;
}

.pencil {
	float: right;
	margin: 20px;
}

.rightfloat {
	float: right;
	margin: 20px;
}

.resume-list {
	list-style-type: none;
}

.resumehead {
	float: center;
	list-style-type: none;
}

.container-fluid{
	max-width: 1200px;
	margin:0 auto;
}

nav{
	background-color: black;
	padding: 20px 5px 10px 20px;
}

nav ul{
	list-style-type: none;

}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	padding-right: 10px;
}

nav a:link {
	color:purple;
}

nav a:visited {
	color:purple;
}

nav a:hover {
	color:orange;
}

nav a:active {
	color:blue;
}

#wrapper {
	margin-left:  auto;
	margin-right: auto;
	width:80%;
	background-color: white;
	min-width: 800px;
	max-width: 1024px;
	box-shadow: 5px 5px 15px 5px #000000;
}

@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}
}

@media only all and (max-width: 768px) {
	h1{
	    font-size: 1.5em;
	}
}